body{
    overflow-x: hidden;
    
    font-family: 'Nixie One';
    font-family: 'Smokum';
}

/* header */
header{
    background: linear-gradient(#0008, #0000);
}
header img{
    height: 5rem;
}

/* main */
main > section:nth-child(odd){
    background-color: antiquewhite;
}
main > section:nth-child(even){
    background-color: black;
}
main > section:not(#jumbotron){
    padding:4rem 0 ;
}

#jumbotron img{
    height: 44rem;
}

#about img:not(.sheriff-star){
    height: 400px;
}

#feedbacks .card img:not(.sheriff-star){
    height: 300px;
    object-position:top;
}

/* my-classes */
.big-font{
    font-family: 'Rye';
}
.invert-filter{
    filter: invert();
    -webkit-filter: invert();
    -moz-filter: invert();
}
.gray-filter{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
}
.object-cover-center{
    object-fit: cover;
    object-position: center;
}
.no-wrap{
    flex-wrap: nowrap;
}
.dotted{
    border-bottom: 3px dotted;
}
.divider{
    border-top: 2px solid;
}
.my-lh{
    line-height: calc(1rem + .3vw);
}
.my-jumbo-p{
    top: 50%;
    left: 50%;
}
.my-jumbo-title{
    font-size: 3.5rem;
}
.my-jumbo-text{
    font-size: 1.8rem;
}
.my-btn-primary{
    background-color: red;
}
.my-btn-primary:hover{
    background-color: rgb(255, 51, 51);
}

/* sheriff-line */
.line{
    border: 1px solid;
}
.sheriff-star{
    height: 24px;
}

@media screen and (min-width : 768px) {
    #jumbotron img{
        height: auto;
        width: 100%;
    }

    .my-jumbo-title{
        font-size: 6rem;
    }
    .my-jumbo-text{
        font-size: 3rem;
    }
}