body{
    overflow-x: hidden;
    
    font-family: 'Nixie One';
    font-family: 'Smokum';
}

/* header */
header{
    background: linear-gradient(#0008, #0000);
}

/* main */
main > section:nth-child(even){
    background-color: antiquewhite;
}
main > section:nth-child(odd){
    background-color: black;
}

#jumbotron img{
    height: 44rem;
    object-fit: cover;
    object-position: center;
}

.navbar-brand img{
    filter: invert();
    -webkit-filter: invert();
    -moz-filter: invert();
    height: 5rem;
}


/* my-classes */
.big-font{
    font-family: 'Rye';
}
.my-jumbo-p{
    top: 50%;
    left: 50%;
}
.my-jumbo-title{
    font-size: 2rem;
}
.my-jumbo-text{
    font-size: 1.5rem;
}
.my-btn-primary{
    background-color: red;
}
.my-btn-primary:hover{
    background-color: rgb(255, 51, 51);
}

/* sheriff-line */
.line{
    border: 1px solid black;
}
.sheriff-star{
    height: 24px;
}

@media screen and (min-width : 768px) {
    #jumbotron img{
        height: auto;
        width: 100%;
    }

    .my-jumbo-title{
        font-size: 6rem;
    }
    .my-jumbo-text{
        font-size: 3rem;
    }
}